@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.kerr {
    color: #e3a405;
    display: inline-block;
}

#homie {
    color: #e3a405;
}

#sizes {
    font-size: 23px;
}

#navi {
    font-size: 17px;
}

.headerbg {
    background-image: url('https://images.unsplash.com/photo-1529607697227-d616efef768f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3870&q=80');
    width: 100%;
    height: 700px;
}

.headerbg h2 {
    padding-top: 140px;
    color: white;
    font-weight: 600;
    text-align: center;
}

.headerbg h1 {
    padding-top: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.loremi {
    padding-top: 30px;
    color: white;
    text-align: center;
    width: 1400px;
    margin: auto;
}

.icons {
    cursor: pointer;
    padding-top: 70px;
    display: inline-flex;
    gap: 50px;
    margin-left: 640px;
    /* margin: auto;
    justify-content: center; */
}

.icon1 {
    background-color: orange;
    padding: 20px;
    border-radius: 40px;
    width: 178px;
    color: white;
    margin: auto;
}

.icon2 {
    border: 0.5px solid orange;
    padding: 20px;
    border-radius: 40px;
    width: 178px;
    color: orange;
    margin: auto;
    text-align: center;
}

#scroll {
    color: white;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    display: flex;
    padding-top: 115px;
    cursor: pointer;
}

.cards {
    display: flex;
    justify-content:space-around;
    padding-top: 50px;
}

.card1 {
    background-color: white;
    width: 200px;
    text-align: center;
    padding-top: 15px;
}

#card-icon {
    padding-bottom: 15px;
    font-size: 55px;
    color: #0280ed;
}

#card-icon2 {
    padding-bottom: 15px;
    font-size: 55px;
    color: #d0db02;
}

#card-icon3 {
    padding-bottom: 15px;
    font-size: 55px;
    color: orange;
}

#card-icon4 {
    padding-bottom: 15px;
    font-size: 55px;
    color: #0280ed;
}

.grey-bg {
    margin-top: 50px;
    background-color: #c7c9c8;
    width: 100%;
    height: 765px;
    color: #595959;
}

.in-bg h1 {
    text-align: center;
    padding-top: 5%;
    font-weight: bold;
    font-size: 45px;
}

.in-bg p {
    font-size: 20px;
    padding-top: 1%;
    background-color: #c7c9c8;
    text-align: center;
    width: 600px;
    justify-content: center;
    display: center;
    margin: auto;
}

.cards-section {
    padding-top: 70px;
    display: flex;
    justify-content: space-around;
}

.cards-section1 {
    width: 220px;
}

.onclick {
    color: #e3a405;
    cursor: pointer;
}

.cards-section1 p {
    padding-top: 5px;
}

.cards-section1 h4 {
    font-size: 28px;
}

.content h1 {
    text-align: center;
    padding-top: 50px;
    color: #595959;
    font-weight: bold;
    font-size: 45px;
}

.content p {
    width: 1000px;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding-top: 20px;
    font-size: 20px;
}

.photos {
    display: flex;
    justify-content: space-evenly;
    padding-top: 70px;
}

.photos img {
    width: 400px;
    border-radius: 5px;
}